cbor==1.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
docutils==0.18.1
idna==3.3
Kivy==2.1.0
Kivy-Garden==0.1.5
numpy==1.21.6
PyBluez==0.23
Pygments==2.11.2
pyobjc-core==8.5
pyobjc-framework-Cocoa==8.5
pyzmq==22.3.0
requests==2.27.1
urllib3==1.26.9
zmq==0.0.0
